@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Jacquard+24&display=swap');
body {

    background-color: #111111;
    font-family: "Arimo", sans-serif;
    font-size:15px;

}

header {

background-color: rgb(172, 121, 159);
width:100%;
height: 200px;
display: block;
margin: auto;

}

img {
border-radius:90%;
width: 30%;
display: block;
margin:auto;
}



h1 {
    font-family: "Jacquard 24", system-ui;
    font-size: 90px;
    
}

h2,h1 {
  text-align:center;
  color: rgb(172, 121, 159); 
  text-transform: capitalize;
}
h2{
    font-size: 60px;   
}

h3{ color: black; 
    }
ul,
h4 {font-family: "Jacquard 24", system-ui;
    font-size: 45px;
text-transform: lowercase;}


a {
    text-decoration: none;
    color: black;
    font-size: 45;
}


section {
color: rgb(172, 121, 159);
    font-size:15px;
}

a:hover {

    text-decoration: underline;
}



#vinculo {
    color:  black;
}

#vinculo:hover {

    color: white;

}



.miColor{

    background-color: rgb(172, 121, 159) ;
    font-weight: 700;
    font-size: 20px;

}

.miSubrayado {

    text-decoration: dotted underline;



}